<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blogjet | <%= title%>></title>
    <%- include('../partials/links') %>
</head>
<body>
<header class="sticky-top">
    <%- include('../partials/header'); %>
</header>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <main>
                <h1><%= h1 %></h1>
                <form action="/new_post" method="POST">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Title</label>
                        <input type="text" class="form-control" id="post_title" placeholder="A fancy title here..." required
                               name="title">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Keywords</label>
                        <input type="text" class="form-control" id="post_title" placeholder="cats, cars, business, money, banks..."
                               required name="keywords">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Select Category</label>
                        <select class="form-control" id="exampleFormControlSelect1" name="category">
                            <option selected="true" disabled="disabled">Select a category....</option>
                            <% if(categories.length) {
                            for(let i = 0; i < categories.length; i++) {
                            %>
                                <option value="<%= categories[i]._id%>"><%= categories[i].name %></option>
                            <% }} %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Short Description</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required name="shortDescription"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Article body</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="8" required name="articleText"></textarea>
                    </div>
                    <div id="bottom_line" class="form-group">
                        <span>
                            <input type="checkbox" id="isPublished" name="isPublished">
                            <label for="isPublished">Publish article</label>
                        </span>
                        <input id="submitBtn" type="submit" value="Create Article">
                    </div>
                </form>
            </main>
        </div>
    </div>
</div>
<footer>
    <%- include('../partials/footer') %>
</footer>
</body>
</html>