<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blogjet | <%= title%></title>
    <%- include('../partials/links') %>
</head>
<body>
<header class="sticky-top">
    <%- include('../partials/header'); %>
</header>
<div class="container">
    <div class="row">
        <div class="col-9">
            <main>
                <h1><%= h1 %>: <%= currentCategory.name%></h1>
                <div class="posts-container">
                    <%if (posts.length) {
                    for(let i = 0; i < posts.length; i++) {
                    %>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><%= posts[i].title %></h5>
                                <p id="post_date">Posted on: <%= posts[i].createdAt.toLocaleDateString("en-GB", { hour: "2-digit",
                                        minute: "2-digit"})%></p>
                                <p class="card-text"><%= posts[i].shortDescription%></p>
                                <a href="#" class="btn btn-primary">Read more</a>
                            </div>
                        </div>
                    <% }} else { %>
                        <p class="alert-danger">There are no posts available...</p>
                    <% } %>
                </div>
            </main>
        </div>
        <div class="col-3">
            <aside>
                <h3>Categories</h3>
                <%- include("../partials/categories_bar.ejs") %>
            </aside>
        </div>
    </div>
</div>
<footer>
    <%- include('../partials/footer') %>
</footer>
</body>
</html>