<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blogjet | <%= title%></title>
    <%- include('../partials/links') %>
    <link rel="stylesheet" href="css/forms.css">
</head>
<body>
<header class="sticky-top">
    <%- include('../partials/header'); %>
</header>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <main>
                <h1><%= h1 %></h1>
                <form action="/new_category" method="POST">
                    <div class="form-group">
                        <label for="name">Category name</label>
                        <input type="text" class="form-control" id="post_title" placeholder="Your category's name" required
                               name="name">
                    </div>
                    <div class="form-group">
                        <label for="shortDescription">Short Description</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required name="shortDescription"></textarea>
                    </div>
                    <div id="bottom_line" class="form-group">
                        <span>

                        </span>
                        <input id="submitBtn" type="submit" value="Create Category">
                    </div>
                </form>
            </main>
        </div>
    </div>
</div>
<footer>
    <%- include('../partials/footer') %>
</footer>
</body>
</html>